#app-mount .chat-3bRxxu .messageGroupBlocked-3wrQQX {
    display: var(--hideAll)!important;
    width: 80px;
    border-radius: 6px;
    float: right;
    margin: 6px;
    background: transparent;
    border-color: transparent;
}

#app-mount .chat-3bRxxu .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh- {
    background: var(--btnBg);
    color: var(--btnColour);
    position: relative;
    box-shadow: 0 0 0 1px var(--btnBorder);
    border-radius: 6px;
}

#app-mount .chat-3bRxxu .messageGroupBlocked-3wrQQX.revealed-1_RKsf .messageGroupBlockedBtn-1PBBh- {
    border-radius: 4px 4px 0 0;
    top: 0;
    box-shadow: none
}

#app-mount .chat-3bRxxu .messageGroupBlocked-3wrQQX.revealed-1_RKsf {
    width: initial;
    margin: initial;
    float: initial;
    margin: 6px;
    background: var(--msgBg);
    border-color: var(--msgBorder);
}

#app-mount .chat-3bRxxu .messageGroupBlocked-3wrQQX .markup-2BOw-j {
    color: var(--msgColour)
}

#app-mount .chat-3bRxxu .dividerContent-2L12VI {
    width: 100%
}

#app-mount .chat-3bRxxu .containerCozyBounded-1rKFAn {
    overflow: visible
}
