#app-mount #bd-settings-sidebar .ui-tab-bar-item, 
#app-mount .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .item-PXvHYJ {
    line-height: 10px
}

#app-mount .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN {
    flex: 0;
    width: 190px
}

#app-mount .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebar-CFHs9e {
    padding: 25px 10px 10px 25px;
    width: 190px
}

#app-mount .standardSidebarView-3F1I7i .contentRegion-3nDuYy .contentColumnDefault-1VQkGM {
    max-width: 100%;
    padding: 40px 30px 80px
}
